*{
    margin: 0;
    padding: 0;
}

.App{
    
    background-color: black;
    display: grid;
    gap: .5rem;
    grid-template-columns: 25% 25% 25% 25% ;
    padding: .5rem 2rem .5rem .5rem;
    color: white;
    overflow-x: hidden;
    
}
.big{
    border: 1px solid red;
    padding: 1rem;
    
    
}

.image{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
    
}
.delete{
    
    height: 3rem;
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.deleteBtn{
    height: 2.5rem;
    width: 15rem;
    background-color: transparent;
    font-size: 1.2rem;
    border: 1px solid red;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
    
}
.deleteBtn:hover{
    scale: 1.1;
    transition: scale 500ms;
    background-color: transparent;
    border: 2px solid red;
    color: white;
}
.div{
    background-color: black;
    color: white;
    border: 1px solid red;
    margin: .2rem;
    padding: .5rem;
   

}
.bottom{
    background-color: red;
    height: 2rem;
    margin-top: .5rem;
    text-align: center;
    font-weight: bolder;
}
